.icon{
    animation-name: rotate;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}